header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navigatorHeader{
    display: flex;
    flex-direction: row;
}

.navigatorHeader ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: darkred;
}